$colors: (
    primary: #333,
    secondary: #ffe,
    ternary: #f2f0f1,
    quarternary: #f5b149
);

$font-sizes: (
    xl: 3rem,
    lg: 2.5rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem
);

$animList: 1 0s, 2 4s, 3 8s, 4 14s, 5 16s;

@function color ($color-name) {
    @return map-get($colors, $color-name);
}
@function size ($size) {
    @return map-get($font-sizes, $size);
}